* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

#background-img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.account-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .774);
    border-radius: 10px;
}

.account-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.account-box .user-box {
    position: relative;
}

.account-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: #fff 1px solid;
    outline: none;
    background: transparent;
}

.account-box form .btn {
    display: inline-block;
    padding: 10px 20px;
    color: #dd520d;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    border-radius: 5px;
    border: 1px solid #dd520d;
    margin-left: 30%;
}

.account-box .btn:hover {
    background: #416843;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #416843,
        0 0 25px #416843,
        0 0 50px #416843,
        0 0 100px #416843;
    border: none;
}

.account {
    text-decoration: none;
    color: white;
    /* width: 100%; */
}

.account:hover {
    text-decoration: underline;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    right: 28%;
}

.selector {
    display: row;
}
