* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Fraunces', serif;
}

.navbar .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

.logo:hover {
    cursor: pointer;
}

#login_icon {
    margin-right: 5em;
    z-index: 1;
}

.navbar {
    position: fixed;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px double rgba(0, 0, 0, 0.474);
    background-color: white;
    z-index: 5;
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0;
    min-width: 400px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.578);
    list-style: none;
    padding-top: 4rem;
    z-index: 100;
}

.item {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item:hover {
    text-decoration: underline;
}  

#hamburger_menu {
    position: fixed;
    top: 1rem;
    left: 3rem;
    padding: 4px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 100;
}

.closeIcon {
    display: none;
}

.showMenu {
    transform: translateX(0);
    z-index: 1;
}

.carousel {
    display: flex;
    overflow: hidden;
    height: 80vh;
    width: 100%;
    position: relative;

}

.carousel .carousel-item {
    height: 80vh;
}

/* contacts */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-image-container {
    width: 100%;
    height: 90vh;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-image-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 120vh; 
}

.contact {
    text-align: center;
    max-width: 90vw;
    position: absolute;
    top: 20vh;
    padding: 5vh;
    z-index: 1;
    color: #fff;
    background-color: #142215c5;
}

.contact a {
    color: #fff;
    font-size: 2em;
    margin: 0.5vh;
}
.contact a:hover {
    color: #dd520d;
}

.contact p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}

.contact .submit  {
    background-color: #fff;
    color: #142215c5;
    padding: 1vh 2vh;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    border: none;
}

.contact .submit:hover {
    background-color: #dd520d;
    color: #fff;
}

