* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 800;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo:hover {
    cursor: pointer;
}

.navbar {
    position: fixed;
    width: 100vw;
    height: 5rem;
    border-bottom: 5px double rgb(0, 0, 0);
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 60%;
    bottom: 0;
    min-width: 400px;
    background-color: rgb(0, 0, 0);
    list-style: none;
    padding-top: 4rem;
}

.item {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item:hover {
    text-decoration: underline;
}  

#hamburger_menu {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    width: 50px;
    height: 50px; /*There was a bug that changed the height of the button to be 36 when you reloaded the page... don't know why. So I just put here instead*/
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.showMenu {
    transform: translateX(0);
}