* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

.logo:hover {
    cursor: pointer;
}

#login_icon {
    margin-right: 5em;
    z-index: 1;
}

.navbar {
    position: fixed;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px double rgb(0, 0, 0);
    background-color: white;
    z-index: 1;
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 60%;
    bottom: 0;
    min-width: 400px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    list-style: none;
    padding-top: 4rem;
    z-index: 100;
}

.item {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item:hover {
    text-decoration: underline;
}  

#hamburger_menu {
    position: fixed;
    top: 1rem;
    left: 3rem;
    padding: 4px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 100;
}

.closeIcon {
    display: none;
}

.showMenu {
    transform: translateX(0);
}

.main-content {
    padding-top: 4em;
}

section {
    padding-top: 50px;
    z-index: 1;
}

.w-100 {
    width: 50%!important;
    margin: 0 auto;
}

.card {
    border-radius: 80px;
}

