* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Fraunces', serif;
}

.logo {
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

.logo h1 {
    font-size: 35px;
    font-weight: normal;
    color: #142215c5;
}

.logo:hover {
    cursor: pointer;
}

#login_icon {
    z-index: 1;
}

.navbar {
    position: fixed;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px double #203522c5;
    background-color: white;
    padding: 0 5em;
    z-index: 5;
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0;
    min-width: 400px;
    height: 100vh;
    background-color: #203522c5;
    list-style: none;
    padding-top: 4rem;
    z-index: 100;
}

.item {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item:hover {
    text-decoration: underline;
}  

#hamburger_menu {
    position: fixed;
    top: 1rem;
    left: 3rem;
    padding: 4px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 100;
}

.closeIcon {
    display: none;
}

.showMenu {
    transform: translateX(0);
    z-index: 1;
}

.carousel {
    display: flex;
    overflow: hidden;
    height: 80vh;
    width: 100%;
    position: relative;

}

.carousel .carousel-item {
    height: 80vh;
}
